extends template/layout.pug

block content
  div(class="container mt-5")
    div(class="row")
      form(action="/expense" method="POST" id="create-form" class="col-md-6 col-5 mx-auto")
        div(class="row mb-5")
          div(class="col-3") *必填欄位
          div(class="col-9 text-center" style="font-size: 22px;") 請輸入你的支出
        div(class="row input-field mb-5")
          div(class="col-3 field-name") 名稱*
          div(class="col-9 text-center")
            input(type="text" name="name" required) 
        div(class="row input-field mb-5")
          div(class="col-3 field-name") 日期*
          div(class="col-9 text-center")
            input(type="date" name="date" required) 
        div(class="row input-field mb-5")
          div(class="col-3 field-name") 類別*
          div(class="col-9 text-center")
            select(name="category" required)
              option(value="" disabled selected) Select
              option(value="家居物業") 家居物業
              option(value="交通出行") 交通出行
              option(value="休閒娛樂") 休閒娛樂
              option(value="餐飲食品") 餐飲食品
              option(value="其他") 其他
        div(class="row input-field mb-5")
          div(class="col-3 field-name") 金額*
          div(class="col-9 text-center")
            input(type="text" name="amount" required) 
        div(class="row justify-content-end")
          div(class="col-9 text-center")
            button(type="submit" class="btn") 新增支出